<html>
<head>
<title>Ajouter un contact</title>
</head>
<body>
<table>
<form action="/day/addday" method="post">
<tr><td>Day :</td><td><input type="number" name="day" id="day" /></td></tr>
<tr><td>min :</td><td><input type="number" name="min" id="min" /></td></tr>
<tr><td>sec :</td><td><input type="number" name="sec" id="sec" /></td></tr>
<tr><td colspan="2"><input type="submit" value="Ajouter" /></td>
</form>
</table>
</body>
</html>