<html>
<head>
<title>Ajouter un Room</title>
</head>
<body>
<table>
<form action="/room/addRoom" method="post">
<tr><td>hotel :</td><td><input type="text" name="hotel" id="hotel" /></td></tr>
<tr><td>number :</td><td><input type="text" name="number" id="number" /></td></tr>
<tr><td>type :</td><td><input type="text" name="type" id="type" /></td></tr>
<tr><td>price :</td><td><input type="number" name="price" id="price" /></td></tr>
<tr><td>maxGuests :</td><td><input type="number" name="maxGuests" id="maxGuests" /></td></tr>
<tr><td>dateCreated :</td><td><input type="date" name="dateCreated" id="dateCreated" /></td></tr>
<!-- 
<tr><td>Location :</td><td><input type="text" name="location" id="location" /></td></tr>
-->

<tr><td colspan="2"><input type="submit" value="Ajouter" /></td>
</form>
</table>
</body>
</html>