<html>

<head>
    <title>Welcome</title>
    <h1>Welcome to Hotel booking</h1>
</head>

<body>
    <table>
        <form>
            <tr>
                <td><a href=../hotel>Hotel management </a></td>
            </tr>
       
            <tr>
                <td><a href=../reservation>Reservation management</a></td>
            </tr>
            <tr>
            <td><a href=../users>Users management </a></td>
            </tr>
             <tr>
            <td><a href=../room>Room management </a></td>
            </tr>
            <tr>
                <td><a href=../chat>Chat room </a></td>
                </tr>
        </form>
    </table>
</body>

</html>