<html>

<head>
    <tr>
        <h1>Search Hotels</h1>
    </tr>
    <tr> <a href=../home>Home </a></tr>


</head>

<body>

    <table>

        <tr>
            <td>HotelName</td>
            <td>Location</td>
            <td>Capacite</td>
            <td>Etoile</td>

        </tr>
      
        <tr>
        <td>{{Hotel.HotelName}}</td>
            <td>{{Hotel.Location}}</td>
            <td>{{Hotel.Capacite}}</td>
            <td>{{Hotel.Etoile}}</td>
         
        </tr>
      
       
    </table>

  
</body>

</html>