<div>
    <form action="/signup" method="post">
        <tr><td><h1>sign up</h1></td></tr>
    
        <tr><td>name :</td><td><input type="text" name="name" id="name" value="{{data.name}}"/></td></tr>
        <tr><td>email :</td><td><input type="text" name="email" id="email" value="{{data.email}}"/></td></tr>
        <tr><td>Password :</td><td><input type="text" name="pw" id="pw" value="{{data.pw}}"/></td></tr>
        <tr><td colspan="2"><input type="submit" value="sign up" /></td>
           
        
    </form></div>